* {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  font-style: normal;
}
.logo-web {
  color: #2196f3;
}
.logo-web-footer {
  color: #2196f3;
}
.logo-studio {
  color: black;
}
.logo-studio-footer {
  color: #fff;
}

.center {
  margin: auto;
  justify-content: center;
}

iframe {
  width: 100%;
  border: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

.iframe-header {
  height: 80px;
}
.iframe-footer {
  height: 252px;
}

footer {
  background: #2f303a;
  padding: 60px 0;
  display: flex;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  scale: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.modal {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding: 40px;
  position: absolute;
  width: 600px;
  height: 400px;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%);
  transition-property: scale;
  scale: 1;
}
.modal-button-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal-button-close:hover .icon-black {
  fill: #2196f3;
  transition-property: fill;
}
.modal-form h2 {
  text-align: center;
}
.modal-form-field {
  margin-top: 10px;
}
.modal-form-field .comment-input {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.modal-form-field label {
  color: #757575;
  font-family: "Roboto";
  font-size: 12px;
  letter-spacing: 0.12px;
}
.modal-form-field input,
.modal-form-field textarea {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  height: 40px;
  transition-property: border-color, fill;
}
.modal-form-field input:hover {
  border-color: #2196f3;
  fill: #2196f3;
  cursor: pointer;
}

.icon-container-black {
  width: 18px;
  height: 18px;
  fill: black;
}

.input-container {
  position: relative;
}
.input-container-field {
  padding-left: 42px;
}
.input-container .icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: black;
  transition-property: fill;
}
.input-container:hover .icon {
  fill: #2196f3;
}

.checkbox {
  width: 16px;
  height: 15px;
  cursor: pointer;
}

.terms-of-the-contract {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 7px;
       column-gap: 7px;
}
.terms-of-the-contract p {
  color: #757575;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.terms-of-the-contract a {
  text-decoration: underline;
  color: #2196f3;
}

.btn-send {
  display: block;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  margin: auto;
  margin-top: 30px;
  transition-property: background-color;
}
.btn-send:hover {
  cursor: pointer;
  background-color: #27b0eb;
}

.section {
  padding: 0 47px;
}

.hero {
  padding: 200px 0;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/section-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 94px;
}
.hero-container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  width: 696px;
  margin: 0 auto;
  text-transform: uppercase;
  color: white;
  font-size: 44px;
  text-align: center;
}
.hero-btn {
  width: 216px;
  height: 50px;
  background-color: #2196f3;
  color: white;
  border: none;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  margin-top: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  transition-property: background-color;
}
.hero-btn:hover {
  cursor: pointer;
  background-color: #27b0eb;
}

.advantages {
  display: flex;
  align-items: center;
  height: 100%;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.advantages-title {
  display: none;
}
.advantages-list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.advantages-list-item {
  width: 270px;
}
.advantages-list-item-iconbox {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}
.advantages-list-item-iconbox-icon {
  width: 70px;
  height: 70px;
}
.advantages-list-item-title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
}
.advantages-list-item-desc {
  margin-top: 10px;
  color: #757575;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.section-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  padding-top: 118px;
  padding-bottom: 50px;
}

.we-do-list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding-bottom: 94px;
  width: 1170px;
  margin: auto;
}
.we-do-list-item {
  position: relative;
}
.we-do-list-item-text {
  padding-top: 27px;
  position: absolute;
  bottom: 4px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.team-container {
  width: 1170px;
  margin: auto;
}
.team-container .team-list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding-bottom: 94px;
}
.team-container .team-list-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: white;
}
.team-container .team-list-item-info {
  padding: 30px 32px;
}
.team-container .team-list-item-info-name {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}
.team-container .team-list-item-info-position {
  color: #757575;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.48px;
}
.team-container .team-list-item-info-media-list {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 16px;
}
.team-container .team-list-item-info-media-list-item {
  width: 44px;
  height: 44px;
}

.client-list {
  display: flex;
  width: 1170px;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 94px;
}
.client-list-item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border-color;
}
.client-list-item-logo {
  width: 106px;
  height: 60px;
  margin: 16px 32px;
  fill: #afb1b8;
  transition-property: fill;
}
.client-list-item:hover .client-list-item-logo {
  fill: #2196f3;
}
.client-list-item:hover {
  cursor: pointer;
  border-color: #2196f3;
}

.turn-off {
  display: none;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
}
.icon-container:hover {
  background-color: #2196f3;
}
.icon-container:hover .icon {
  fill: white;
}

.icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition-property: fill;
}