@import "./utils/universal";

footer {
  height: $height-for-footer;
  background: #2f303a;
  display: flex;
}

.footer-container {
  width: $base-width-for-content;
  margin: auto;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;

  &:hover {
    background-color: $color-main-selected;

    .icon {
      fill: white;
    }
  }
}

.icon {
  fill: $fill-icon-main;
  width: 20px;
  height: 20px;
  transition-property: fill;
}

footer .icon {
  fill: white;
}

.color-section {
  background: #f5f4fa;
}

.footer-contacs-list {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}

.address {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin: 20px 0 9px;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.media-title {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 8px;
}

.media-box {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.footer-media-list {
  display: flex;
  column-gap: 10px;
  margin-top: 20px;
}

.modal-open-btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: $color-main-selected;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 0 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition-property: background-color;

  & span {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
  }

  &:hover {
    cursor: pointer;
    background-color: #27b0eb;
  }
}

.footer-media-box2 {
  margin-left: 100px;
}

.footer-input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-family: $font-family-main;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.48px;
}

.footer-media-box {
  display: flex;
  column-gap: 12px;
  align-items: center;
  margin-top: 20px;
}
