* {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

$base-width-for-content: 1170px;

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  background: #2f303a;
  padding: 60px 0;
  display: flex;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  scale: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.modal {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding: 40px;
  position: absolute;
  width: 600px;
  height: 400px;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%);
  transition-property: scale;
  scale: 1;

  &-button-close {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover .icon-black {
      fill: #2196f3;
      transition-property: fill;
    }
  }

  &-form {
    h2 {
      text-align: center;
    }
    &-field {
      margin-top: 10px;

      & .comment-input {
        height: 120px;
        padding: 12px 16px;
        resize: none;
      }

      & label {
        color: #757575;
        font-family: "Roboto";
        font-size: 12px;
        letter-spacing: 0.12px;
      }

      & input,
      textarea {
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        width: 100%;
        height: 40px;
        transition-property: border-color, fill;
      }

      & input:hover {
        border-color: #2196f3;
        fill: #2196f3;
        cursor: pointer;
      }
    }
  }
}

.icon-container-black {
  width: 18px;
  height: 18px;
  fill: black;
}

.input-container {
  position: relative;

  &-field {
    padding-left: 42px;
  }

  & .icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    fill: black;
    transition-property: fill;
  }

  &:hover .icon {
    fill: #2196f3;
  }
}

.checkbox {
  width: 16px;
  height: 15px;
  cursor: pointer;
}

.terms-of-the-contract {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 7px;

  & p {
    color: #757575;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
  }

  & a {
    text-decoration: underline;
    color: #2196f3;
  }
}

.btn-send {
  display: block;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  margin: auto;
  margin-top: 30px;
  transition-property: background-color;

  &:hover {
    cursor: pointer;
    background-color: #27b0eb;
  }
}

.section {
  padding: 0 47px;
}

.header {
  height: 80px;

  &-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: $base-width-for-content;
    margin-left: auto;
    margin-right: auto;
  }
}

.navigation {
  display: flex;
  align-items: center;
  height: 100%;

  .list {
    margin-left: 93px;
    display: flex;
    justify-content: space-between;
    width: 281px;
    height: 100%;

    &-item {
      display: flex;
      align-items: center;
      height: 100%;
      position: relative;

      &-link {
        display: inline-block;
        color: #212121;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.28px;
        transition-property: color;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          border-radius: 2px;
          background-color: #2196f3;
          width: 0;
          height: 4px;
          opacity: 0;
          transition-property: width, opacity;
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        &:hover::after {
          opacity: 1;
          width: 100%;
        }

        &:hover {
          color: #2196f3;
        }
      }
    }
  }
}

.contacts-list {
  display: flex;
  margin-left: auto;

  &-item {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;

    & + & {
      margin-left: 50px;
    }

    &-link {
      color: #757575;
      display: flex;
      align-items: center;

      &-icon {
        margin-right: 10px;
        fill: #757575;
        transition-property: fill;
      }

      &:hover {
        color: #2196f3;
      }

      &:hover &-icon {
        fill: #2196f3;
      }
    }
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  font-style: normal;

  &-web {
    color: #2196f3;
  }

  &-studio {
    color: black;
  }
}

.hero {
  padding: 200px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/section-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 94px;

  &-container {
    width: $base-width-for-content;
    margin-left: auto;
    margin-right: auto;
  }

  &-title {
    width: 696px;
    margin: 0 auto;
    text-transform: uppercase;
    color: white;
    font-size: 44px;
    text-align: center;
  }

  &-btn {
    width: 216px;
    height: 50px;
    background-color: #2196f3;
    color: white;
    border: none;
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    margin-top: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    transition-property: background-color;

    &:hover {
      cursor: pointer;
      background-color: #27b0eb;
    }
  }
}

.advantages {
  display: flex;
  align-items: center;
  height: 100%;
  width: $base-width-for-content;
  margin-left: auto;
  margin-right: auto;

  &-title {
    display: none;
  }

  &-list {
    display: flex;
    column-gap: 30px;

    &-item {
      width: 270px;

      &-iconbox {
        width: 100%;
        height: 120px;
        background-color: #f5f4fa;
        border-radius: 4px;
        padding: 25px 100px;
        margin-bottom: 30px;

        &-icon {
          width: 70px;
          height: 70px;
        }
      }

      &-title {
        color: #212121;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.42px;
      }

      &-desc {
        margin-top: 10px;
        color: #757575;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.42px;
      }
    }
  }
}

.section-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  padding-top: 118px;
  padding-bottom: 50px;
}

.we-do-list {
  display: flex;
  column-gap: 30px;
  padding-bottom: 94px;
  width: $base-width-for-content;
  margin: auto;

  &-item {
    position: relative;

    &-text {
      padding-top: 27px;
      position: absolute;
      bottom: 4px;
      color: #fff;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.42px;
      text-transform: uppercase;
      width: 370px;
      height: 70px;
      background-color: rgba(47, 48, 58, 0.8);
    }
  }
}

.team-container {
  width: $base-width-for-content;
  margin: auto;

  .team-list {
    display: flex;
    column-gap: 30px;
    padding-bottom: 94px;

    &-item {
      border-radius: 0px 0px 4px 4px;
      box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
      background-color: white;

      &-info {
        padding: 30px 32px;

        &-name {
          color: #212121;
          text-align: center;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 0.48px;
        }

        &-position {
          color: #757575;
          text-align: center;
          font-size: 16px;
          letter-spacing: 0.48px;
        }

        &-media-list {
          display: flex;
          column-gap: 10px;
          margin-top: 16px;

          &-item {
            width: 44px;
            height: 44px;
          }
        }
      }
    }
  }
}

.client-list {
  display: flex;
  width: $base-width-for-content;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 94px;

  &-item {
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    cursor: pointer;
    transition-property: outline;

    &-logo {
      width: 106px;
      height: 60px;
      margin: 16px 32px;
      fill: #afb1b8;
      transition-property: fill;
    }

    &:hover &-logo {
      fill: #2196f3;
    }

    &:hover {
      outline: 1px solid #2196f3;
    }
  }
}

.footer-container {
  width: $base-width-for-content;
  margin: auto;
}

footer .icon {
  fill: white;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;

  .icon-container:hover .icon {
    fill: white;
  }

  &:hover {
    background-color: #2196f3;
  }
}

.icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition-property: fill;
}

.color-section {
  background: #f5f4fa;
}

.logo-web-footer {
  color: #2196f3;
}

.logo-studio-footer {
  color: #fff;
}

.footer-contacs-list {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}

.address {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin: 20px 0 9px;
  font-style: normal;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
  font-style: normal;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.media-title {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 8px;
}

.media-box {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.footer-media-list {
  display: flex;
  column-gap: 10px;
  margin-top: 20px;
}

.modal-open-btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 0 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition-property: background-color;

  & span {
    color: #fff;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
  }

  &:hover {
    cursor: pointer;
    background-color: #27b0eb;
  }
}

.footer-media-box2 {
  margin-left: 100px;
}

.footer-input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.48px;
}

.footer-media-box {
  display: flex;
  column-gap: 12px;
  align-items: center;
  margin-top: 20px;
}
