body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  max-width: 1600px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 0 47px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.header {
  padding: 25px 0;
  height: 80px;
  margin: 0 auto;
}

.header-position {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  justify-content: space-between;
  width: 281px;
  margin-left: 93px;
}

.item-link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.item-link:hover {
  color: #2196f3;
}

.list-contacts {
  display: flex;
  margin-left: auto;
}

.header-contact {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  display: flex;
  align-items: center;
}

.header-contact:hover {
  color: #2196f3;
}

.menu-contact + .menu-contact {
  margin-left: 50px;
}

.icon-header {
  margin-right: 10px;
  fill: #757575;
}

.header-contact:hover .icon-header {
  fill: #2196f3;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.logo-web {
  color: #2196f3;
}

.logo-studio {
  color: black;
}

.hero {
  padding: 200px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/section-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 94px;
}

.hero-title {
  width: 696px;
  margin: 0 auto;
  text-transform: uppercase;
  color: white;
  font-size: 44px;
  text-align: center;
}

.hero-btn {
  width: 216px;
  height: 50px;
  background-color: #2196f3;
  color: white;
  border: none;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  margin-top: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  cursor: pointer;
}

.advantages {
  display: none;
}

.advantages-list {
  display: flex;
  column-gap: 30px;
}

.advantages-title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
}

.advantages-desc {
  margin-top: 10px;
  color: #757575;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.icon-andvantages {
  width: 70px;
  height: 70px;
}

.iconbox {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.section-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  padding-top: 118px;
  padding-bottom: 50px;
}

.we-do-list {
  display: flex;
  column-gap: 30px;
  padding-bottom: 94px;
}

.we-do-item {
  position: relative;
}

.we-do-text {
  padding-top: 27px;
  position: absolute;
  bottom: 4px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.team-list {
  display: flex;
  column-gap: 30px;
  padding-bottom: 94px;
}

.card-box {
  padding: 30px 32px;
}

.team-name {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.team-position {
  color: #757575;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.48px;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: white;
}

.media-list {
  display: flex;
  column-gap: 10px;
  margin-top: 16px;
}

.media-item {
  width: 44px;
  height: 44px;
}

footer .icon {
  fill: white;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}

.icon-container:hover .icon {
  fill: white;
}

.icon-container:hover {
  background-color: #2196f3;
}

.color-section {
  background: #f5f4fa;
}

.client-list {
  display: flex;
  margin-bottom: 94px;
  justify-content: space-between;
}

.client-item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
}

.client-logo {
  width: 106px;
  height: 60px;
  margin: 16px 32px;
  fill: #afb1b8;
}

.client-item:hover .client-logo {
  fill: #2196f3;
}

.client-item:hover {
  outline: 1px solid #2196f3;
}

.footer {
  background: #2f303a;
  padding: 60px 0;
  display: flex;
}

.logo-web-footer {
  color: #2196f3;
}

.logo-studio-footer {
  color: #fff;
}

.footer-contacs-list {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}

.ellipse-icon-footer {
  fill: rgba(255, 255, 255, 0.1);
}

.address {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin: 20px 0 9px;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.flex {
  display: flex;
}

.media-title {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 8px;
}

.media-box {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.footer-media-list {
  display: flex;
  column-gap: 10px;
  margin-top: 20px;
}
