$base-width-for-content: 1170px;

$height-for-header: 80px;
$height-for-footer: 252px;

$font-family-main: "Roboto", sans-serif;
$font-family-logo: "Raleway", sans-serif;

$color-main-selected: #2196f3;
$color-main: #212121;
$color-additional: #757575;
$fill-icon-main: #afb1b8;
